rules_version = '2';
service firebase.storage {
match /b/{bucket}/o {
match /{allPaths=**} {
// מאפשר קריאה וכתיבה רק למשתמשים מחוברים
allow read, write: if request.auth != null;
}
}
}